// ========================================== live sass compiler 插件使用 开始 ==========================================
// 当使用 live sass compiler 插件时查看编译结果需要使用相对路径,不能使用别名 scss目录下的注释都要检查一遍.
// 如下注释解开即可
// @use './themes/index.scss' as *;
// ========================================== live sass compiler 插件使用 结束 ==========================================

code.hljs {
    padding: 3px 5px;
    // background-color: var(--jpz-bg-color-page);
}

.hljs {
    // background: var(--jpz-bg-color-page);
    color: var(--jpz-text-color-regular);
}

.hljs-code {
    // 占位
    color: var(--jpz-text-color-regular);
}

.hljs-property {
    // 占位
    color: var(--jpz-text-color-regular);
}

.hljs-title.class_ {
    // 占位
    color: #3f3f3f;
}

.hljs-title.class_.inherited__ {
    /* 占位 */
    color: var(--jpz-text-color-regular);
}

.hljs-punctuation {
    /* 占位 */
    color: var(--jpz-text-color-regular);
}

.hljs-operator {
    // 占位
    color: var(--jpz-text-color-regular);
}

.hljs-title.function_ {
    // 占位
    color: var(--jpz-text-color-regular);
}

.hljs-char.escape_ {
    // 占位
    color: var(--jpz-text-color-regular);
}

.hljs-variable.language_ {
    // 占位
    color: var(--jpz-text-color-regular);
}

.hljs-keyword,
.hljs-literal,
.hljs-name,
.hljs-symbol {
    color: #0000ff;
    font-weight: 500;
}

.hljs-link {
    color: #569cd6;
    // text-decoration: underline;
    font-size: 12px;
    font-style: italic;
}

.hljs-link-text {
    // color: #569cd6;
    // text-decoration: underline;
    font-size: 14px;
    // font-weight: bold;
}

.hljs-built_in,
.hljs-type {
    color: #3165bb;
}

.hljs-class,
.hljs-number {
    color: #390000;
}

.hljs-meta .hljs-string,
.hljs-string {
    color: #a31515;
}

.hljs-regexp,
.hljs-template-tag {
    color: #9a5334;
}

.hljs-formula,
.hljs-function,
.hljs-params,
.hljs-subst,
.hljs-title {
    color: #3165bb;
}

.hljs-comment,
.hljs-quote {
    color: #398e00;
    // font-style: italic
}

.hljs-doctag {
    color: #608b4e;
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-tag {
    color: #3165bb;
}

.hljs-template-variable,
.hljs-variable {
    color: #009999;
}

.hljs-attr,
.hljs-attribute {
    // color: #9cdcfe;
    color: #16706b;
}

.hljs-section {
    color: gold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: 700;
}

.hljs-bullet,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-selector-tag {
    color: #d7ba7d;
}

.hljs-addition {
    background-color: #144212;
    display: inline-block;
    width: 100%;
}

.hljs-deletion {
    background-color: #600;
    display: inline-block;
    width: 100%;
}

// 如下是微信公众号的样式

.code-snippet {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    // font-size: 14px;
    // max-height: 500px;
    padding: 1em 1em 1em 3em;
    color: var(--jpz-text-color-regular);
    position: relative;
    background-color: #fafafa;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    counter-reset: line;
    // white-space: normal;
    -webkit-overflow-scrolling: touch;
}

.code-snippet code {
    color: var(--jpz-text-color-regular);
    margin: 0 0.2em;
    background-color: transparent;
    text-align: left;
    font-size: 14px;
    display: block;
    // white-space: pre-wrap;
    position: relative;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.code-snippet code::before {
    position: absolute;
    min-width: 1.5em;
    text-align: right;
    left: -2.5em;
    counter-increment: line;
    content: counter(line);
    display: inline;
    margin-right: 12px;
    color: var(--jpz-text-color-placeholder);
    padding-right: 0.5em;
    border-right: 1px solid var(--jpz-text-color-placeholder);
}

.pre-code {
    position: relative;
    pre {
        background-color: var(--jpz-bg-color);
        border: 1px solid var(--jpz-border-color);
    }
}

.copy-button {
    position: absolute;
    top: 4px;
    right: 8px;
    cursor: pointer;
    background-color: var(--jpz-bg-color-page);
    border: none;
    border-radius: 4px;
    padding: 2px 5px;
    z-index: 999;
    color: var(--jpz-text-color-placeholder);
    min-width: 4em;
    text-align: center;
    font-size: 12px;
    outline: none;
    height: 2em;
}

.copy-button:hover {
    background-color: #e0e0e0;
}

code {
    margin: 0 0.2em;
    background-color: var(--code-bg-color);
    border-radius: 4px;
    color: var(--code-color);
    padding: 0 5px 0 5px;
}

code + code {
    margin-left: -0.2em;
}
