@import 'reset-css';
@import '@/assets/markdown/drake-vue.css';
@import '@/assets/highlight/highlight.js.jpz.css';
@import 'highlight.js/styles/default.css';

// 主题样式
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: light.$background-color-page;
}

#app {
  display: flex;
  max-width: pc.$width-page;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.4s;
}

@media (hover: hover) {
  a {
    transition: 0.5s;
  }

  a:hover {
    background-color: light.$background-color-hover;
    // 下划线
    // text-decoration: underline;
    /* 字体变大20% */
    // transform: scale(1.2); //使用 transform: scale(1.2) 代替 font-size: 120%; 效率更高。
  }
}

.page {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

// 导航面包屑
.breadcrumb {
  height: 56px;
  color: #333;
  border: 0;
  margin: 0;
  margin-top: pc.$height-header;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  align-items: center;
}

@include respond-to('pc') {
  .pc {
    display: flex;
  }

  .phone {
    display: none;
  }
  .breadcrumb {
    width: pc.$width-page-main;
  }
}

@include respond-to('phone') {
  .pc {
    display: none;
  }

  .phone {
    display: flex;
  }

  .breadcrumb {
    width: 100%;
  }
}

/* =====================================全局设置层级 开始 */
footer {
  z-index: 990;
}

header {
  z-index: 999;
}

/* 移动端 侧边栏透明遮罩 */
.nav-backdrop {
  z-index: 997;
}

/* 移动端 侧边导航栏*/
.side-nav {
  z-index: 998;
}

// 绑定邮箱弹窗
.bindemail-dialog {
  background-color: transparent !important;
  box-shadow: none !important;
}

// 归档组件表格 行样式
// .month-archive-row-class:hover {
//   cursor: pointer;
// }

/* =====================================全局设置层级 结束 */
