@use 'reset-css' as *; // live sass compiler 插件使用时注释掉

// ========================================== live sass compiler 插件使用 开始 ==========================================
// 当使用 live sass compiler 插件时查看编译结果需要使用相对路径,不能使用别名 scss 目录下的注释都要检查一遍.
// 如下注释解开即可(编译时,需要注释掉，避免命名空间重复 There's already a module with namespace "XXXX")
// @use './platform/phone.scss' as phone;
// @use './platform/pc.scss' as pc;
// @use './mixin.scss' as *;
// @use './themes/index.scss' as *;
// ========================================== live sass compiler 插件使用 结束 ==========================================

// 主题样式
body {
  font-family: 'Noto Sans SC', 'Microsoft YaHei', 'PingFang SC', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: $background-color-page;
}

#app {
  display: flex;
  max-width: pc.$width-page;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #333;
  transition: 0.4s;
}

@media (hover: hover) {
  a {
    transition: 0.5s;
  }

  a:hover {
    background-color: $background-color-hover;
    // 下划线
    // text-decoration: underline;
    /* 字体变大20% */
    // transform: scale(1.2); //使用 transform: scale(1.2) 代替 font-size: 120%; 效率更高。
  }
}

.page {
  // width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
}

// 导航面包屑
.breadcrumb {
  height: 56px;
  color: #333;
  border: 0;
  margin: 0;
  margin-top: pc.$height-header;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  align-items: center;
}

@include respond-to('pc') {
  .pc {
    display: flex;
  }

  .phone {
    display: none;
  }

  .breadcrumb {
    width: pc.$width-page-main;
  }
}

@include respond-to('phone') {
  .pc {
    display: none;
  }

  .phone {
    display: flex;
  }

  .breadcrumb {
    width: 100%;
  }
}

/* =====================================全局设置层级 开始 */
footer {
  z-index: 990;
}

header {
  z-index: 999;
}

/* 移动端 侧边栏透明遮罩 */
.nav-backdrop {
  z-index: 997;
}

/* 移动端 侧边导航栏*/
.side-nav {
  z-index: 998;
}

// 绑定邮箱弹窗
.bindemail-dialog {
  background-color: transparent !important;
  box-shadow: none !important;
}

// 滚动条
::-webkit-scrollbar {
  width: $scrollbar-y-width;
  height: $scrollbar-x-height;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 6px;
}

// 归档组件表格 行样式
// .month-archive-row-class:hover {
//   cursor: pointer;
// }

/* =====================================全局设置层级 结束 */

// 目录显示
.md-toc {
  background-color: $background-color-content;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    font-size: 1em;
    border: none;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    cursor: pointer;

    &:hover {
      // 显示下划线
      text-decoration: underline;
    }
  }

  h2 {
    margin-left: 1em;
  }

  h3 {
    margin-left: 2em;
  }

  h4 {
    margin-left: 3em;
  }

  h5 {
    margin-left: 4em;
  }

  h6 {
    margin-left: 5em;
  }
}

.md-toc-fs {
  background-color: $background-color-content;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    font-size: 1em;
    border: none;
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    cursor: pointer;

    &:hover {
      // 显示下划线
      text-decoration: underline;
    }
  }

  h2 {
    margin-left: 1em;
  }

  h3 {
    margin-left: 2em;
  }

  h4 {
    margin-left: 3em;
  }

  h5 {
    margin-left: 4em;
  }

  h6 {
    margin-left: 5em;
  }
}
