@use "@/assets/scss/themes/light.scss"as *;
@use "@/assets/scss/themes/dark.scss"as *;


/* ============================================================颜色变量 开始*/
/* 主要颜色 */
$primary-color: var(--primary-color);
/* 次要颜色 */
$secondary-color: var(--secondary-color);
/* 页面背景颜色 */
$background-color-page: var(--background-color-page);
/* 内容区域背景颜色 */
$background-color-content: var(--background-color-content);
/* 头部背景颜色 */
$background-color-header: var(--background-color-header);
/* 底部背景颜色 */
$background-color-footer: var(--background-color-footer);
/* 鼠标悬停背景颜色 */
$background-color-hover: var(--background-color-hover);
/* 鼠标点击背景颜色 */
$background-color-active: var(--background-color-active);
/* 禁用状态背景颜色 */
$background-color-disabled: var(--background-color-disabled);
/* 引用边框颜色 */
$blockquote-border-color: var(--blockquote-border-color);
/* 引用背景颜色 */
$blockquote-bg-color: var(--blockquote-bg-color);
/* 引用字体颜色 */
$blockquote-color: var(--blockquote-color);
/* 分割线颜色 */
$horizontal-divider-color: var(--horizontal-divider-color);
/* 表格边框颜色 */
$table-border-color: var(--table-border-color);
/* 表格头部背景色 */
$table-header-bg-color: var(--table-header-bg-color);
/* 表格背景色 */
$table-bg-color:var(--table-bg-color);
/* 表格偶数行背景色 */
$table-n2-bg-color: var(--table-n2-bg-color);
/* 行内背景色 */
$code-bg-color:var(--code-bg-color);
/* 行内字体色 */
$code-color:var(--code-color);
$footnote-sup-color: var(--footnote-sup-color);
/* ============================================================颜色变量 结束*/